body{
font-family: Arial, Helvetica, sans-serif;
margin:0;
background:#f5f5f5;
text-align:center;
}

h1{
margin-top:20px;
}

p{
margin-top:10px;
}

/* CONTENEDOR PRINCIPAL */
.container{
max-width:1200px;
margin:auto;
padding:0 20px;
}

/* CYTOSCAPE */
#cy{
width:1200px;
height:700px;
margin:20px auto;
display:block;
border-top:1px solid #ddd;
}

/* TIMELINE */
.timeline{
position:relative;
height:40px;
margin:20px auto;
max-width:1200px;
}

.timeline span{
position:absolute;
font-weight:bold;
transform:translateX(-50%);
}

.timeline span:nth-child(1){left:10%;}
.timeline span:nth-child(2){left:30%;}
.timeline span:nth-child(3){left:50%;}
.timeline span:nth-child(4){left:70%;}
.timeline span:nth-child(5){left:90%;}
